.about-logo-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px; /* Adjust padding as needed */
  background-color: var(--xtract-framer-ai-black, var(--color-black-solid, #000));
  height: 91.9px;
  width: 100%;
}

.about-logo-text {
  color: var(--xtract-framer-ai-white, var(--color-white-solid, #FFF));
  font-family: var(--font-family-Font-1, Figtree);
  font-size: var(--font-size-14, 14px);
  font-style: normal;
  font-weight: var(--font-weight-500, 500);
  line-height: var(--line-height-16_8, 20px); /* 120% */
  letter-spacing: var(--letter-spacing--0_28, -0.28px);
  background-color: black;
  text-align: center;
}
